:root {
  --transition-bg-colors: background-color 100ms linear;
  --transition-text-colors: color 150ms ease;

  --outer-bg-color-on: rgba(251, 237, 242, .6);
  --outer-bg-color-off: #1D0834;
  --outer-bg-opacity-on: 1;
  --outer-bg-opacity-off: 1;
  --outer-bg-image-on: repeating-linear-gradient(45deg, rgba(230, 0, 119, .6) 25%, transparent 25%, transparent 75%, rgba(230, 0, 119, .6) 75%, rgba(230, 0, 119, .6)), repeating-linear-gradient(45deg, rgba(230, 0, 119, .6) 25%, rgba(251, 237, 242, .6) 25%, rgba(251, 237, 242, .6) 75%, rgba(230, 0, 119, .6), rgba(230, 0, 119, .6));
  --outer-bg-image-off: repeating-linear-gradient(45deg, #0c012e 25%, transparent 25%, transparent 75%, #0c012e 75%, #0c012e), repeating-linear-gradient(45deg, #1D0834 25%, #250B40 25%, #250B40 75%, #0c012e 75%, #0c012e);

  --background-on:   #e6f8f8;
  --background-off: #131216;
  --background-text-on: rgba(230, 0, 119, .8);
  --background-text-off: #797C99;

  --round-corner: 10px;
  --switch-width: 200px;
  --switch-height: 260px;
  --switch-text-size: 40px;
  --switch-outline-color-on: 1px solid #C79683;
  --switch-outline-color-off: 2px solid #514B6C;
  --switch-background-off: #383145;
  --switch-background-on: #FFFCFB;
  --switch-text-off: #979AC2;
  --switch-text-on: rgba(230, 0, 119, .6);
  --switch-font-family: 'Arial', sans-serif;
  --switch-box-shadow-on: 0 4px 8px 0 #D0D0D0, 0 6px 20px 0 #D0D0D0;
  --switch-box-shadow-off: 0 4px 8px 0 #363040, 0 6px 20px 0 #363040;

  --lever-width: 50px;
  --lever-height: 120px;
  --lever-background-off: #2D2539;
  --lever-background-on: #F5E2DB;
  --lever-shadow-off: inset 0 0 10px #1D0834;
  --lever-shadow-on: inset 0 0 5px #A9877B;
  --lever-outline-off: 1px solid 222028;

  --lever-pull-width: 100%;
  --lever-pull-height: 40%;
  --lever-pull-background-off: #4C4465;
  --lever-pull-background-on: #FFEEE8;
  --lever-pull-shadow-on: 0px 15px 10px -3.5px #A9877B, 0 0px 0px 0 #A9877B;
  --lever-pull-shadow-off: 0px 15px 10px 2px #222028, 0 0px 0px 0 #222028;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-off);
  opacity: 0.6;
  background-position: 0 0, 13px 13px;
  background-size: 26px 26px;
  width: 100%;
  transition: var(--transition-bg-colors);
  transition: var(--transition-text-colors);
}

.background {
  width: 70%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition-bg-colors);
  transition: var(--transition-text-colors);
}

.background.on {
  background-color: var(--background-on);
  color: var(--background-text-on);
}

.background.off {
  background-color: var(--background-off);
  color: var(--background-text-off);
}

.show {
  visibility: visible;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.hide {
  visibility: hidden;
}

.switch {
  border-radius: var(--round-corner);
  width: var(--switch-width);
  height: var(--switch-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--switch-font-family);
  transition: var(--transition-bg-colors);
  transition: var(--transition-text-colors);
}

.switch h2 {
  margin: 0;
  padding: 0;
}

.switch.off {
  background-color: var(--switch-background-off);
  color: var(--switch-text-off);
  border: var(--switch-outline-color-off);
  box-shadow: var(--switch-box-shadow-off);
}

.switch.on {
  background-color: var(--switch-background-on);
  color: var(--switch-text-on);
  border: var(--switch-outline-color-on);
  box-shadow: var(--switch-box-shadow-on);
}

.switch-text {
  font-size: var(--switch-text-size);
}

.lever {
  width: var(--lever-width);
  height: var(--lever-height);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transition: var(--transition-bg-colors);
  transition: var(--transition-text-colors);
  margin-top: 10px;
}

.lever:hover {
  cursor: pointer;
}

.lever.off {
  background-color: var(--lever-background-off);
  box-shadow: var(--lever-shadow-off);
  border: var(--lever-outline-off);
}

.lever.on {
  background-color: var(--lever-background-on);
  box-shadow: var(--lever-shadow-on);
  border: var(--switch-outline-color-on);
}

.lever-pull {
  width: var(--lever-pull-width);
  height: var(--lever-pull-height);
  box-sizing: border-box;
  transition: var(--transition-bg-colors);
  transition: var(--transition-text-colors);
}

.lever-pull.off {
  align-self: flex-end;
  background-color: var(--lever-pull-background-off);
  box-shadow: var(--lever-pull-shadow-off);
  border: var(--lever-outline-off);
}

.lever-pull.on {
  align-self: flex-start;
  background-color: var(--lever-pull-background-on);
  box-shadow: var(--lever-pull-shadow-on);
  border: var(--switch-outline-color-on);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
